bin/
obj/
*.user
*.userosscache
*.sln.doccache
.idea/
.vs/
*.pdb
*.dll
*.exe
NinePSharp.Server/external/monocypher/libmonocypher.so
NinePSharp.Server/bin/
NinePSharp.Server/obj/
NinePSharp/bin/
NinePSharp/obj/
NinePSharp.Parser/bin/
NinePSharp.Parser/obj/
NinePSharp.Tests/bin/
NinePSharp.Tests/obj/
NinePSharp.Parser.Tests/bin/
NinePSharp.Parser.Tests/obj/
NinePSharp.Messages.FSharp/bin/
NinePSharp.Messages.FSharp/obj/
NinePSharp.Generators/bin/
NinePSharp.Generators/obj/
